.loading{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loading>h1{
    color: #ffbd39;
    text-align: center;
    font-weight: 900;
}